{% extends "base.html" %}
{% load static %}
{% load item_tags %}


{% block content %}

    <!-- Banner Area Start-->
    <section class="banner-area">
        <div class="banner-slider owl-carousel">
            <div class="item" style="background: url({% static 'assets/img/banner/slider-1.jpg' %})">
                <div class="banner-inner" style="padding: 100px 0 !important;">
                    <h4>I am Favour</h4>
                    <h2 style="font-size: 10px">I am a developer that love working on different language</h2>
                    <a href="{% url "blog:about" %}" class="btn readmore-button">Read more</a>
                </div>
            </div>
            <div class="item" style="background: url({% static 'assets/img/banner/slider-2.jpg' %})">
                <div class="banner-inner" style="padding: 100px 0 !important;">
                    <h4>I am Favour</h4>
                    <h2 style="font-size: 10px">I am a developer that love working on different language</h2>
                    <a href="{% url "blog:about" %}" class="btn readmore-button">Read more</a>
                </div>
            </div>
            <div class="item" style="background: url({% static 'assets/img/banner/slider-1.jpg' %})">
                <div class="banner-inner" style="padding: 100px 0 !important;">
                    <h4>I am Favour</h4>
                    <h2 style="font-size: 10px">I am a developer that love working on different language</h2>
                    <a href="{% url "blog:about" %}" class="btn readmore-button">Read more</a>
                </div>
            </div>
        </div>
    </section>


    <div class="container mt-5">
        <div class="col-lg-12">
            <div class="section-title">
                <h6 class="title">HighLights</h6>
                <a href="#">See All HighLights</a>
            </div>
        </div>
    </div>
    <section class="banner-area">
        <div class="banner-slider-2 owl-carousel owl-loaded owl-drag">


            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(-909px, 0px, 0px); transition: all 0s ease 0s; width: 2121px;">
                    {% for highlight in highlights %}

                        <div class="owl-item cloned">
                            <div class="featured-item pd-bottom-30">
                                <div class="thumb">
                                    <img src="{{ highlight.imageURL }}" alt="img" style="height: 250px">
                                </div>
                                <div class="featured-item-meta">
                                    <h2>{{ highlight.name }}</h2>
                                    <ul>

                                        <li>{{ highlight.timestamp }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev">
                    <i class="fa fa-angle-left"></i></button>
                <button type="button" role="presentation" class="owl-next">
                    <i class="fa fa-angle-right"></i></button>
            </div>
            <div class="owl-dots">
                <button role="button" class="owl-dot active"><span></span></button>
                <button role="button" class="owl-dot"><span></span></button>
            </div>
        </div>
    </section>

    <div class="container mt-5">
        <div class="col-lg-12">
            <div class="section-title">
                <h6 class="title">Spotlight</h6>
                <a href="#">See All Spotlights</a>
            </div>
        </div>
    </div>
    <section class="banner-area mb-5">
        <div class="banner-slider-2 owl-carousel owl-loaded owl-drag">


            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(-909px, 0px, 0px); transition: all 0s ease 0s; width: 2121px;">
                    {% for album in albums %}

                        <div class="owl-item cloned" style="width: 283px; margin-right: 20px;">
                            <div class="item" style="background: url({{ album.imageURL }});background-size: cover">
                                <div class="banner-inner" style="max-height: 200px;padding-bottom: 20px!important;">
                                    <h4>{{ album.name }}</h4>
                                    <h2>{{ album.description|truncatewords:3 }}</h2>
                                    <a href="{{ album.get_absolute_url }}" target="_blank" class="btn readmore-button">Read
                                        more</a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev">
                    <i class="fa fa-angle-left"></i></button>
                <button type="button" role="presentation" class="owl-next">
                    <i class="fa fa-angle-right"></i></button>
            </div>
            <div class="owl-dots">
                <button role="button" class="owl-dot active"><span></span></button>
                <button role="button" class="owl-dot"><span></span></button>
            </div>
        </div>
    </section>

    <!-- Banner Area End -->
    <div class="container mt-5">
        <div class="col-lg-12">
            <div class="section-title">
                <h6 class="title">Posts</h6>
                <a href="{% url 'blog:blog_list' %}">See All Posts</a>
            </div>
        </div>
    </div>
    <section class="latest-post-area pd-top-115 pd-bottom-110">
        <div class="container">
            <div class="row">
                {% for post in post_list %}
                    <div class="col-lg-4 col-md-6">
                        <div class="thumb pb-lg-3 pb-5">
                            {% if not post.imageURL %}
                                <img class="w-100" src="{% static 'assets/img/post/1.jpg' %}" alt="img"
                                     style="height: 300px; ">
                            {% else %}
                                <img class="w-100" src="{{ post.imageURL }}" alt="img"
                                     style="height: 300px; ">
                            {% endif %}
                        </div>
                        <div class="blog-post-item-wrap">
                            <div class="post-content">
                                <h4><a href="{{ post.get_absolute_url }}">{{ post.name }}</a></h4>
                                <p>{{ post.description|truncatewords:10 }}</p>
                                <div class="post-meta">
                                    <ul>
                                        <li>By</li>
                                        <li><a href="#">Student</a></li>
                                        <li>{{ post.timestamp|timesince }} ago</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>
    </section>
    <div class="container mb-5">
        <div class="col-lg-12">
            <div class="align-center d-flex justify-content-center">
                <a class="btn btn-primary" href="{% url 'blog:blog_list' %}"
                   style="background-color: #199794 !important;">Load More</a>
            </div>
        </div>
    </div>


{% endblock %}

