{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lawel - Responsive Blog Template</title>
    <!--fivicon icon-->
    <link rel="icon" href="{% static 'assets/img/fevicon.png' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-slide.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@400;600&family=Lustria&family=Poppins:wght@400;500;600&display=swap"
          rel="stylesheet">


</head>

<body class='sc5'>
<!-- preloader area start -->
<div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div id="wave1">
        </div>
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>
<!-- preloader area end -->
<div class="body-overlay" id="body-overlay"></div>

<!-- search popup area start -->
<div class="search-popup" id="search-popup">
    <form action="{% url "blog:blog_list" %}" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- //. search Popup -->

<!-- navbar start -->
<div id="side-navbar" class="side-navbar">
    <i id="side-menu-close" class="fa fa-times"></i>
    <ul class="side-navbar-items">
        <li class="menu-item-has-children">Home
            <ul class="sub-menu ps-0">
                <li><a href="{% url "blog:blog_list" %}">Home </a></li>

            </ul>
        </li>

    </ul>
</div>
<header class="navbar-area">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="lawel-header-left">
                <div class="side-menu-bar d-inline-flex">
                    <i id="side-menu-open" class="fa fa-bars"></i>
                </div>
                <a href="{% url "blog:blog_list" %}" class="logo">
                    <img src="{% static 'assets/img/logo.png' %}" alt="img">
                </a>
                <div class="nav-right-part">
                    <ul class="social-area">
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="search" href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="themefie_main_menu">
                <ul class="navbar-nav menu-open text-center">
                    <li class="current-menu-item ">
                        <a href="{% url "blog:blog_list" %}">HOME</a>

                    </li>
                    <li class="current-menu-item ">
                        <a href="{% url "blog:about" %}">About</a>
                    </li>


                    <li class="current-menu-item ">
                        <a href="{% url "blog:generate_post" %}">Generate</a>
                    </li>

                </ul>
            </div>
            <div class="nav-right-part text-end nav-right-part-desktop">
                <ul>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="search" href="#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- navbar end -->


<!-- latest post Area Start-->
{% block content %}

{% endblock %}
<!-- latest post Area End -->


<!-- footer area start -->
<footer class="footer-area text-center">
    <div class="footer-inner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="footer-widget widget">
                        <h4 class="widget-title">Follow me</h4>
                        <ul class="social-area">
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widget widget">
                        <div class="footer-logo d-inline-block">
                            <img src="{% static 'assets/img/logo-2.png' %}" alt="img">
                        </div>
                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
                            mauris vitae erat consequat auctor eu in elit. Class aptent taciti disse in orci enim.</p>
                        <form>
                            <div class="single-input-wrap mb-0">
                                <input type="email" placeholder="Enter Email">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widget widget widget_link">
                        <h4 class="widget-title">Popular tags</h4>
                        <ul>
                            <li><a href="#">#TRAVEL</a></li>
                            <li><a href="#">#LIFE</a></li>
                            <li><a href="#">#LAKE</a></li>
                            <li><a href="#">#VLOGOS</a></li>
                            <li><a href="#">#ALTEGO</a></li>
                            <li><a href="#">#MONACO</a></li>
                            <li><a href="#">#SELECTED</a></li>
                            <li><a href="#">#HELLO</a></li>
                            <li><a href="#">#ITSON</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->

<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>


<!-- all plugins here -->
<script src="{% static 'assets/js/jquery.3.6.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/imageloded.min.js' %}"></script>
<script src="{% static 'assets/js/counterup.js' %}"></script>
<script src="{% static 'assets/js/waypoint.js' %}"></script>
<script src="{% static 'assets/js/magnific.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/fontawesome.min.js' %}"></script>
<script src="{% static 'assets/js/ripple.js' %}"></script>
<script src="{% static 'assets/js/owl.min.js' %}"></script>
<script src="{% static 'assets/js/slick-slider.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- main js  -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>